@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Muli', sans-serif;
  outline: none;
}

.oneContent {
  min-width: 800px;
  width: 85%;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 100%;
  position: absolute;
  padding: 1.5em;
  box-sizing: border-box;
  padding-bottom: 70px;
}

h1 {
  font-weight: 800;
  font-size: 28px;
  color: #1d1d1d;
  letter-spacing: 0.52px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 800;
  font-size: 20px;
  color: #1d1d1d;
  letter-spacing: 0.37px;
}

label {
  font-weight: 600;
  font-size: 14px;
  color: #1d1d1d;
  letter-spacing: 0.26px;
}

p {
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
  letter-spacing: 0.26px;
}

input[type='checkbox'] {
  display: none;
}

.cardSmall .header {
  flex-flow: column wrap;
}

.cardSmall .countSec {
  position: absolute;
}

.grayBack {
  background: #fafafa;
}

.medBack {
  background: url(../media/backMed.jpg) no-repeat;
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  margin: 0px;
}

.txtRight {
  text-align: right;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
}

.flexCols {
  display: flex;
  flex-flow: column nowrap;
}

.flexEnd {
  justify-content: flex-end;
  align-items: flex-end;
}

.flexStart {
  justify-content: flex-start;
  align-items: flex-start;
}

.flexSides {
  justify-content: space-between;
  align-items: center;
}

.flexStretch {
  justify-content: space-between;
  align-items: stretch;
}

.flexOne {
  flex-basis: 100%;
}

.flexTwo {
  flex-basis: 50%;
  min-width: 100px;
  flex-grow: 1;
}

.flexThree {
  flex-basis: 33%;
  min-width: 100px;
}

.flexFour {
  flex-basis: 25%;
  min-width: 100px;
}

.dontGrow {
  flex-grow: 0;
}

.red {
  background: red;
}

.pill {
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
  letter-spacing: 0.26px;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-user-select: none;
  user-select: none;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.pill img {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 5px;
  background: gray;
  border: none;
}

.symptomPill {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.26px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.default {
  background: rgba(0, 166, 176, 0.08);
  color: #00a6b0;
}

.selected {
  background: #00a6b0;
  color: white;
}

.default:hover {
  background: rgba(0, 166, 176, 0.3);
}

.nameContainer {
  width: 500px;
  float: right;
  margin-right: -5px;
  margin-top: 20px;
}

.symptomsContainer {
  width: 100%;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.cardExtended {
  order: -1 !important;
  flex-basis: calc(100% - 40px);
  height: auto !important;
  cursor: default !important;
  transition: 0.3s;
}

.cardExtended .hidden {
  display: flex;
}

.cardSmall:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(3px);
}

.cardSmall .header div:first-child {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.cardSmall img {
  height: 70px;
  width: 70px;
}

.cardSmall h2 {
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
  letter-spacing: 0.26px;
  text-align: center;
  margin-top: 10px;
}

.card {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17);
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
  margin: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  width: 150px;
  height: 150px;
  order: 1;
  cursor: pointer;
  transition: 0.4s;
}

.card .count {
  position: absolute;
  margin-top: -25px;
  margin-right: -40px;
  margin-left: 85px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17);
}

.cardExtended .count {
  margin-top: 7px;
  margin-right: 5px;
  position: relative;
  box-shadow: none;
}

.hidden {
  display: none;
}

.cardExtended .header div:nth-child(2) {
  align-items: center;
}

.cardExtended .header div img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.cardExtended .header {
  margin-bottom: 20px;
}

.count {
  background: #00a1e6;
  color: white;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.primaryBtn {
  background: #00a6b0;
  box-shadow: 0 4px 8px 0 rgba(0, 51, 58, 0.36);
  border-radius: 40px;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.3px;
  border: none;
  padding: 10px 25px 10px 25px;
  cursor: pointer;
  box-sizing: border-box;
}

.secondaryBtn {
  border: 1px solid #a1a1a1;
  border-radius: 8px;
  font-size: 16px;
  color: #a1a1a1;
  letter-spacing: 0.3px;
  text-align: center;
  font-weight: 600;
  padding: 5px 15px 7px 15px;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.3s;
  background: transparent;
}

.secondaryBtn:hover {
  border: 1px solid #1d1d1d;
  color: #1d1d1d;
}

.secondaryBtn:active {
  border: 1px solid #1d1d1d;
  color: white;
  background: #1d1d1d;
}

.buttonsArea {
  position: fixed;
  height: 70px;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(-180deg, rgba(250, 250, 250, 0) 0%, #fafafa 68%);
}

.temp::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    #5eddff 28%,
    #30ff00 31%,
    #64ef00 50%,
    #ffc000 60%,
    #ff0000 100%
  );
  border-radius: 20px;
  border: none;
  width: 100%;
}

.temp::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
  background: url(../media/thumb.svg) no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 8px;
}

.temp {
  -webkit-appearance: none;
  margin: 5px 10px 20px 5px;
}

#tempNum {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .oneContent {
    min-width: 100%;
  }

  .nameContainer {
    width: 100%;
  }
}

.helpBtn {
  width: 30px;
  flex-shrink: 0;
  border: none;
  background: url(../media/Icons/info.svg) no-repeat;
  background-size: 30px;
  height: 30px;
  cursor: pointer;
}

.blackBack {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fadeIn;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  max-width: 100%;
  max-height: 100%;
  z-index: 80;
  overflow: scroll;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.25);
  }
}

.popUp {
  width: 80%;
  margin: auto;
  top: 10px;
  height: 800px;
  margin-bottom: 30px;
  margin-top: 30px;
  position: absolute;
  background: white;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17);
  left: 0;
  right: 0;
}

.name {
  margin-top: 70px;
}

.name > .input-wrapper > label,
.genre > label,
.age > label {
  display: block;
  margin-bottom: 12px;
  font-size: 15px;
}

.name > .input-wrapper > input[type='text'] {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 2px rgba(192, 192, 192, 0.5);
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: none;
}

.name > .input-wrapper > input[type='text']::placeholder {
  color: #c2c2c2;
}

.genre,
.age {
  margin-top: 50px;
}

.genre > .radio-wrapper,
.age > .radio-wrapper {
  display: inline-block;
  margin-right: 20px;
}

.genre > label {
  margin-bottom: 12px;
}

.genre > .radio-wrapper > label > input[type='radio'] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.genre > .radio-wrapper > label > input[type='radio'] + img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px rgba(141, 141, 141, 0.5);
  transition: 0.2s all linear;
  transform: scale(1);
}

.genre > .radio-wrapper > label > input[type='radio']:checked + img {
  transform: scale(1.25);
}

.genre > .radio-wrapper > label > input[type='radio'] + img.boy {
  background: white;
}

.genre > .radio-wrapper > label > input[type='radio'] + img.girl {
  background: #45a7b1;
}

.age > .radio-wrapper > label {
  display: inline-block;
}

.age > .radio-wrapper > label > input[type='radio'] {
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.age > .radio-wrapper > label > input[type='radio'] + div {
  background: #e5f3f4;
  color: #45a7b1;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  transition: 0.2s all ease-in-out;
}

.age > .radio-wrapper > label > input[type='radio']:checked + div {
  background: #45a7b1;
  color: #e5f3f4;
}
